# Access Transformers (ATs for short) allow for widening the visibility and modifying the final flags of classes,
# methods, and fields. They allow modders to access and modify otherwise inaccessible members in classes outside
# their control.
# See more information here: https://docs.minecraftforge.net/en/latest/advanced/accesstransformers
